@model Trial.Models.Academician


<div class="container">
<br>  <p class="text-center"> </p>
<hr>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br>  <p class="text-center"> </p>
<hr>
