@model Trial.Models.Academician


<div class="container">
<br>  <p class="text-center"> </p>
<hr>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">

	<button id="myInput"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Launch demo modal
</button>
<div id="myModal" tabindex="-1" aria-hidden="true" class="modal fade">
<div class="modal-dialog modal-dialog-scrollable  modal-fullscreen w-75 mx-auto">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Profile Page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="col">
                <div class="row">
                    <div class="col-2"><img src="https://i.pinimg.com/originals/6c/89/66/6c89661628a901db2b078a6af2561a92.png" class="img-thumbnail" alt="Image" /></div>
                    <div class="col-5">
                        <h4 class="py-2">Title FirstName LastName</h4>
                        <h5>Email@@adress.com</h5>
                    </div>
                    <div class="col-4">
                        <div class="py-1"></div>
                        <span class="bg-info rounded-pill p-2 px-sm-5 text-white">Assistant</span>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-outline-warning">
                            <i class="w-100 bi bi-pen text-warning" style="font-size:1.5rem;"></i>
                        </button>
                        <button class="btn btn-outline-danger">
                            <i class="w-100 h-auto bi bi-person-x text-danger" style="font-size:1.5rem;"></i>
                        </button>

                    </div>
                </div>
                    <br />
                    <div class="d-flex justify-content-end"><button type="button" class="btn btn-outline-secondary mb-1">Edit Slots</button></div>
                    
<table class="table table-bordered text-center ">
<thead class="bg-info bg-gradient">
<tr>
<th>#</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
</tr>
</thead>
<tbody>

<tr>
    <th>TimeSlot1</th>
    <td class="py-5 bg-info bg-gradient bg-opacity-75">
        <div style="border: none" >
            <p class="text-white">Lecture Code</p>
            <small class="text-white opacity-75">Class-Block</small>
        </div>
    </td>
      <td class="pb-2 align-bottom"><div class="d-block badge bg-info" >Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
</tr>
<tr>
    <th>TimeSlot2</th>
    <td class="py-5 bg-info bg-gradient bg-opacity-75">
        <div style="border: none" >
            <p class="text-white">Lecture Code</p>
            <small class="text-white opacity-75">Class-Block</small>
        </div>
    </td>
      <td class="pb-2 align-bottom"><div class="d-block badge bg-info" >Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
</tr>
<tr>
    <th>TimeSlot3</th>
    <td class="py-5 bg-info bg-gradient bg-opacity-75">
        <div style="border: none" >
            <p class="text-white">Lecture Code</p>
            <small class="text-white opacity-75">Class-Block</small>
        </div>
    </td>
      <td class="pb-2 align-bottom"><div class="d-block badge bg-info" >Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
      <td class="pb-2 align-bottom bg-dark bg-gradient"><div class="d-block badge bg-dark" >Not Available</div></td>
</tr>
</tbody>
</table>
                    <strong>Ceng-110</strong> <span>Computer Architecture</span>
                </div>
            </div>
      </div>
    </div>
</div>
</article>
</div> <!-- card.// -->




 


</div> 
<!--container end.//-->

<br>  <p class="text-center"> </p>
<hr>


