html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    text-decoration:none;
}

/*Add Academician Page*/
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
/*Add Academician Page End*/

/*Ders programý tablosu baþlangýcý*/
#ders-programi {
    font: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #ders-programi td, #ders-programi th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #ders-programi tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #ders-programi tr:hover {
        background-color: #ddd;
    }

    #ders-programi th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #00ffff;
        color: white;
    }
    /*Ders programý tablosu bitiþi*/

 

/*Bölüm ders programý tablosu baþlangýcý*/
#ders-programi {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #ders-programi td, #ders-programi th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #ders-programi tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #ders-programi tr:hover {
        background-color: #ddd;
    }


    #ders-programi th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #00ffff;
        color: black;
    }
/*Bölüm ders programý tablosu bitiþi*/

/*Günlere göre derslik ders programý baþlangýcý*/
#ders-programi {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #ders-programi td, #ders-programi th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #ders-programi tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #ders-programi tr:hover {
        background-color: #ddd;
    }


    #ders-programi th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #00ffff;
        color: black;
    }
    /*Günlere göre derslik ders programý bitiþi*/

    /*Akademisyen ders programý baþlangýcý*/
#ders-programi {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #ders-programi td, #ders-programi th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #ders-programi tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #ders-programi tr:hover {
        background-color: #ddd;
    }


    #ders-programi th {
        padding-top: 1px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #00ffff;
        color: black;
    }
    /*Akademisyen ders programý bitiþi*/