@{
    ViewData["Title"] = "Hakkımızda";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="">
    <div class="mb-2">
        <figure>
      <h3>
      Okan Öztürkmenoğlu
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h3>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Öğretim Görevlisi
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h3>
      Adil Alpkoçak
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h3>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Dekan
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h3>
      Deniz Karabaş
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h3>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Öğretim Görevlisi
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h3>
      Cevhernur Söylemez
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h3>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Öğretim Görevlisi
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h3>
      Öğretim Görevlisi
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h3>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Akademisyen
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h4>
      Tolga Titiz
      <small class="text-muted">Pamukkale Üniversitesi</small>
    </h4>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Frontend
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h4>
      Deniz Turan
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h4>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Algoritma
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h4>
      Emre Turan
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h4>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Algoritma
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h4>
      Seren Akdemir
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h4>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Frontend
      </figcaption>
    </figure>
    </div>
    <div class="mb-2">
        <figure>
      <h4>
      Ersin Gençer
      <small class="text-muted">Bakırçay Üniversitesi</small>
    </h4>
      <figcaption class="blockquote-footer" style="margin-top: 4px">
        Backend
      </figcaption>
    </figure>
    </div>

</div>